html {
  font-family: 'Anek Latin', Tahoma, sans-serif;
  background-position: center;
  background-size: cover;   
}

a { color: black; }
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

* {
    box-sizing: border-box;
  }

nav {
    text-align: right;
    margin: auto;
    height: 50px;
}

.social-ul {
    margin: auto;
    list-style-type: none;
    overflow: hidden;
    height: 50px;
}

.social-li {
    float: right;
    display: block;
    height: 50px;
}

i {
    width: 35px;
    height: 35px;
}
